<section class="announcementbar">
    <h2> This is announcementbar</h2>
</section>

{% schema %}
    {
        "name": "announcementbar",
        "settings": [
        
        ]
    }
{% endschema %}
